bin
/.vs/StudyOpenSSL/v14/.suo
*.suo
/StudyOpenSSL.VC.db
/StudyOpenSSL.VC.VC.opendb
/StudyOpenSSL_vc12.sdf
/randomNumGen/randomNumGen_vc12.vcxproj.user
/StudyOpenSSL_vc12.opensdf
/privKeyEnc/encrypt.bin
/privKeyEnc/privKeyEnc_vc12.vcxproj.user
/StudyOpenSSL_v14.VC.db
/*.opendb
/privKeyDec/plain.txt
/privKeyDec/privKeyDec_vc12.vcxproj.user
/privKeyEncBio/encrypt.bin
/privKeyEncBio/privKeyEncBio_vc12.vcxproj.user
/md/md_vc12.vcxproj.user
/genRsaKey/genRsaKey_vc12.vcxproj.user
